.ministerio {
    margin-left: 300px;
    padding: 20px;
    background-color: lightgray; /* Adicione um fundo temporário */
}

button {
    display: block; /* Garante que o botão seja exibido */
    margin: 20px auto; /* Centraliza o botão */
}