.home-container {
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 80%;
  border-radius: 15px;
  outline: 1px solid #555;
  box-sizing: border-box;
  overflow-x: hidden;     
  background-color: #242424;
}

.home-container h1 {
  color: white;
}

.titulo-botao {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.titulo-botao:hover {
  color: #007bff;
  text-decoration: underline;
}


.titulo {
  font-family: 'Inria Serif', serif;
  font-weight: 400;
  align-self: flex-start;
  margin-left: 5%;
  width: 100%;
  text-align: left;
  font-size: 42px;
}
.subtitulo {
  align-self: flex-start;
  margin-left: 5%;
  margin-top: -20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #B1B1B1;
}

.year-selector {
  
}