.overview-container {
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 80%;
  border-radius: 15px;
  outline: 1px solid #555;
  box-sizing: border-box;
  overflow-x: hidden;     
  background-color: #242424;
}
.overview-title {
  font-family: 'Inria Serif', serif;
  font-weight: 400;
  align-self: flex-start;
  margin-left: 5%;
  width: 100%;
  text-align: left;
  font-size: 32px;
}

.legend-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 16px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.legend-color {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}

.legend-label {
  font-weight: bold;
}

.legend-percent {
  color: #ffff;
}

.explanation-box {
  margin-top: 40px;
  padding: 20px;
  background-color: #323232;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.explanation-box h3 {
  margin-bottom: 10px;
}

.explanation-box p {
  line-height: 1.5;
  font-size: 15px;
  color: #f9f9f9;
}


.year-selector {
  align-self: flex-start;
  margin-left: 5%;
  margin-top: -15px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 20px;
  color: #B1B1B1;
}

.voltar {
  align-self: flex-start;
  margin-left: 5%;
  margin-top: 5%;
}