.sub-orgao-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2c2c;
  padding: 16px 24px;
  border-radius: 20px;
  margin-bottom: 16px;
  color: white;
}

.sub-orgao-card .info h4 {
  margin: 0 0 6px 0;
  font-size: 18px;
}

.sub-orgao-card .info p {
  margin: 0;
  font-size: 14px;
}

.mini-chart {
  flex-shrink: 0;
}
