.container {
  padding: 0 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  place-content: space-evenly;
}

body, html, #root { /* Target the body, html, and root elements */
  height: 100%; /* Make sure the content takes up the full height */
  margin: 0; /* Remove default margins */
}

#root {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically */
}